<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error Page</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->

<!-- css files -->
<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Ropa+Sans:400,400i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
<div class="header">
	<h1>Error page</h1>
</div>
<div class="w3-main">
	<div class="agile-info">
		<h3>SORRY</h3>
		<h2>4<img src="images/confused.gif" alt="image"/>4</h2>
		<p>Looks like you took a wrong turn.<br>
		 or Honey Sharma forgot to put something here...</p>
		
		<a href="http://api.honeysharma.tech/">Back to Home Page</a>
	</div>
</div>
</body>
</html>